.main-container{
    max-width: 1280px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.jc-center{
    justify-content: center;
}
.jc-flex-start{
    justify-content: flex-start;
}
.jc-flex-end{
    justify-content: flex-end;
}
.ai-center{
    align-items: center;
}